{% extends 'base.html.twig' %}

{% block title %}{{pin.title}}
{% endblock %}

{% block body %}
<article>

<h1>{{pin.title}}</h1>
<p>{{pin.description}}</p>
<p>Publié le {{pin.createdAt|date('d/m/Y') }}</p>
<a href="{{path('edit', {id:pin.id}) }}">Editer</a>
<a href="{{path('home')}}">Retour à la page d'accueil</a>
</article>

 {% endblock %}