<!DOCTYPE html>
<html>
	<head>

		<link rel="stylesheets" href="{{ asset('build/app.css') }}"/>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<!-- Fichier css  webpack encore  -->
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body>
		<!--  Affichage des messages flash -->
		{{include('Partials/flash_messages.html.twig') }}

		<nav class=" navbar navbar-expand-lg navbar-dark bg-primary">

			<a class="navbar-brand" href="{{path('home')}}">Pinterest</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<div class="container">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{path('home')}}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('create')}}">Ajouter un pin</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Account</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Logout</a>
						</li>
					</ul>
				</div>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>

		</nav>
		<main role="main" class="container"> {% block body %}{% endblock %}
			</main>
			{{include('Partials/footer.html.twig') }}
			{% block javascripts %}
				<!-- Fichier js webpack encore  -->
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		</body>
	</html>
</body></html>
